<div class="container">
    <div class="content">
        <div class="bill">
            <label for="bill">Bill</label>
            <input type="number" id="bill" #billEl (keyup)="onBillEntered(billEl)">
        </div>
        <div class="tipContainer">
            <p>Select Tip %</p>
            <div class="tipSelect">
                <button class="tipBtn" [ngClass]="{'active' : toggleFive}" (click)="tipSelected(5)">5%</button>
                <button class="tipBtn" [ngClass]="{'active' : toggleTen}" (click)="tipSelected(10)">10%</button>
                <button class="tipBtn" [ngClass]="{'active' : toggleFifteen}" (click)="tipSelected(15)">15%</button>
                <button class="tipBtn" [ngClass]="{'active' : toggleTwenty}" (click)="tipSelected(20)">20%</button>
                <button class="tipBtn" [ngClass]="{'active' : toggleFifty}" (click)="tipSelected(50)">50%</button>
                <input type="number" id="tipInput" placeholder="Custom" #tipEl (keyup)="onTipEntered(tipEl)">
            </div>
        </div>
        <div class="peopleSelect">
            <label for="people">Number Of People</label>
            <input type="number" id="people" #people (keyup)="onPeopleEntered(people)">
        </div>
    </div>
    <div class="tips">
        <div class="tipsContent">
            <div class="tipAmount">
                <div class="tipsText">
                    <h3>Tip Amount</h3>
                    <p>/ person</p>
                </div>
                <div class="tipAmountValue">
                    <h1>${{tipPerPerson}}</h1>
                </div>
            </div>
            <div class="total">
                <div class="totalText">
                    <h3>Total</h3>
                    <p>/ person</p>
                </div>
                <div class="totalAmountValue">
                    <h1>${{total}}</h1>
                </div>
            </div>
            <div class="btn">
                <button class="resetBtn" (click)='onReset()'>RESET</button>
            </div>
        </div>
    </div>
</div>